<div class="container">
  <!-- Main Container -->
  <div class="main-container">
    <!-- Content for the main container -->
    <div id="streetview"></div>
    <!-- Exit Button -->
    <button class="exit-button" (click)="showExitConfirmation()">Exit</button>
  </div>

  <!-- Right Containers -->
  <div class="right-container">
    <!-- Top Right Container -->
    <div class="top-right-container">
      <h2>Points: {{ this.hintPoints }}</h2>
      <p class="hint">{{ hints[currentHintIndex].text }}</p>

      <div class="button-container">
        <button (click)="previousHint()">Previous</button>
        <button (click)="nextHint()">Next</button>
      </div>
    </div>

    <!-- Bottom Right Container -->
    <div class="bottom-right-container">
      <!-- Content for the bottom right container -->
      <div id="map"></div>
      <!-- Conditional Submit Button -->
      <button
        *ngIf="markerIsPlaced()"
        class="submit-button"
        (click)="submitGuess()"
      >
        Submit
      </button>
    </div>
  </div>

  <!-- Exit Confirmation Modal -->
  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <p>Are you sure?</p>
      <button (click)="confirmExit()">Yes</button>
      <button (click)="cancelExit()">No</button>
    </div>
  </div>

  <div class="layer"></div>

  <!-- Submission information Modal -->
  <!-- <div *ngIf="showResultsModal"> -->
  <div id="results-modal" [style.z-index]="-1">
    <div class="modal-content">
      <div id="results-map"></div>
      <p>Score: {{ this.score }}</p>
      <p>Location: {{ this.country }}</p>
      <p>Distance: {{ this.distance }} km</p>
      <button (click)="confirmExit()">Exit</button>
    </div>
  </div>
</div>
