<div class="home-container">
  <div class="leaderboard">
    <h2>Leaderboard</h2>
    <ul>
      <li *ngFor="let user of leaderboard">
        <p>{{ user.username }}</p>
        <p>Total points: {{ user.totalPoints }}</p>
      </li>
    </ul>
  </div>
  <div class="main-menu">
    <img src="assets/images/Earth2.png" alt="Earth" class="earth-image" />
    <h2 class="game-modes-title">LETS DROP</h2>
    <button class="menu-button" routerLink="/game">DROP ON THE MAP</button>
    <p class="playing-as">Playing as {{ username }}</p>
    <button
      *ngIf="username === 'Guest' || username === null"
      class="login-button"
      routerLink="/login"
    >
      Login
    </button>
    <button
      *ngIf="username !== 'Guest' && username !== null"
      class="logout-button"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div class="latest-games">
    <h2>Latest Games</h2>
    <ul>
      <li *ngFor="let game of latestGamesList">
        <p>Points: {{ game.points }}</p>
        <p>Location: {{ game.location }}</p>
      </li>
    </ul>
  </div>
</div>
