<div class="home-container">
  <div class="leaderboard">
    <h1>Leaderboard</h1>
    <ul>
      <li *ngFor="let user of leaderboard | slice:0:5" class="leaderboard-item">
        <p class="leaderboard-name">{{ user.username }}</p>
        <p class="leaderboard-points">Total points: {{ user.totalPoints }}</p>
      </li>
    </ul>
  </div>
  <div class="main-menu">
    <img src="assets/images/Earth-with-title2.png" alt="Earth" class="earth-image" />
    <button class="menu-button" routerLink="/game">DROP ON THE MAP</button>
    <p class="playing-as">Playing as {{ username }}</p>
    <p  *ngIf="username !== 'Guest' || username == null" class="points"> Total points: {{ points }}</p>
    <p *ngIf="username !== 'Guest' || username == null" class="placement"> Leaderboard placement: {{ placement }}</p>
    <button
      *ngIf="username === 'Guest' || username === null"
      class="login-button"
      routerLink="/login"
    >
      Login
    </button>
    <button
      *ngIf="username !== 'Guest' && username !== null"
      class="logout-button"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div class="latest-games">
    <h1>Latest Games</h1>
    <ul>
      <li *ngFor="let game of latestGamesList">
        <p class="latest-games-points">Points: {{ game.points }}</p>
        <p class="latest-games-location">Location: {{ game.location }}</p>
      </li>
    </ul>
  </div>
</div>
