.home-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #5C7285; /* Tan background */
    height: 100vh;
    position: relative;
  }
  
  .leaderboard, .latest-games {
    width: 20%;
    background: #818C78; /* Wheat background */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 4rem); /* Adjust for padding */
    overflow-y: auto;
    z-index: 1;
  }
  
  /* Custom scrollbar styling for WebKit browsers */
.leaderboard::-webkit-scrollbar, .latest-games::-webkit-scrollbar {
    width: 12px;
  }
  
  .leaderboard::-webkit-scrollbar-track, .latest-games::-webkit-scrollbar-track {
    background: #818C78; /* Light background for scrollbar track */
    border-radius: 8px;
  }
  
  .leaderboard::-webkit-scrollbar-thumb, .latest-games::-webkit-scrollbar-thumb {
    background: #818C78; /* Darker background for scrollbar thumb */
    border-radius: 8px;
  }
  
  .leaderboard::-webkit-scrollbar-thumb:hover, .latest-games::-webkit-scrollbar-thumb:hover {
    background: #818C78; /* Darker background on hover */
  }
  
  /* Custom scrollbar styling for Firefox */
  .leaderboard, .latest-games {
    scrollbar-color: #818C78 #818C78; /* thumb color, track color */
    scrollbar-width: thin;
  }
  
  .leaderboard h2, .latest-games h2 {
    color: #d1dbca; /* SaddleBrown */
  }
  
  .leaderboard ul, .latest-games ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .leaderboard li, .latest-games li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #A7B49E; /* BurlyWood */
    border-radius: 4px;
  }
  
  .main-menu {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .game-modes-title {
    font-size: 1.5rem;
    color: #A7B49E; /* SaddleBrown */
    margin-bottom: 1rem;
  }
  
  .play-button, .menu-button {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
  }
  
  .menu-button {
    background-color: #A7B49E;
  }

  .menu-button:hover {
    background-color: #818C78;
  }
  
  .login-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #A7B49E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #818C78;
  }
  
  .playing-as {
    margin-top: 1rem;
    font-size: 1rem;
    color: #A7B49E; /* SaddleBrown */
  }
  .logout-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #993131;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }

  .earth-image {
    z-index: 0;
    width: 100%;
  }